{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om mig</h1>
    <h2>Mitt namn är Abir Bouzenzana. Jag är en gift fyrbarnsmamma och legitimerad biomedicinsk analytiker med inriktning på klinisk fysiologi. På fritiden gillar jag att baka, gå på promenader samt mysa framför en bra film.</h2>
{% endblock %}