{% extends "base.html.twig" %}
{% block title %}
Om mig
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <!-- Innehållskolumn -->
        <div class="col-md-8">
            <section>
                <h3>Om mig</h3>
                <p>Mitt namn är Abir Bouzenzana. Jag är en gift fyrbarnsmamma och legitimerad biomedicinsk analytiker med inriktning på klinisk fysiologi. På fritiden gillar jag att baka, gå på promenader samt mysa framför en bra film.</p>
                <img src="{{ asset('build/images/oktober.jpg') }}" alt="" width="700" height="400">
            </section>
        </div>
        <!-- Navigationskolumn -->
        <div class="col-md-4">
            <div class="sticky-top" style="top: 20px;">
            <ul class="nav flex-column">
                    <li class="nav-item">
                        <a></a>
                    </li>
            </div>
        </div>
    </div>
</div>
{% endblock %}
