{% extends "base.html.twig" %}

{% block title %}
Magic number
{% endblock %}

{% block body %}
<div>
<h1>Magic number</h1>
<div class="main">
    <h2>Welcome to my awesome magical homepage.</h2>
    <h3>This is the current magic number: {{ number }}</h3>
</main>
</div>
{% endblock %}
