{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <!-- Navigationskolumn -->
        <div class="col-md-4">
            <div class="sticky-top" style="top: 20px;">
                <h4>Rapportsektioner</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#kmom01">Kmom01</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kmom02">Kmom02</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kmom03">Kmom03</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kmom04">Kmom04</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kmom05">Kmom05</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kmom06">Kmom06</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kmom10">Kmom10</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- Innehållskolumn -->
        <div class="col-md-8">
            <section id="kmom01">
                <h3>Kmom01</h3>
                <p>Innan jag började denna kurs hade jag grundläggande kunskaper i objektorientering genom andra programmeringsspråk, men min erfarenhet av att använda dessa principer i PHP var begränsad. I kursen har jag lärt mig PHP:s objektorienterade modell, inklusive skapande av klasser, hantering av synlighet, arv, samt användningen av interface och abstrakta klasser. Projektet me/report gav mig insikt i hur Symfony-ramverket stöder en klar MVC-struktur, vilket underlättar kodhantering och skalbarhet. Från "PHP The Right Way" fann jag avsnitten om säkerhetspraxis och användningen av Composer särskilt givande. Det mest värdefulla jag lärde mig i detta kursmoment är den effektiva användningen av Symfony och Twig för att bygga välstrukturerade och dynamiska webbapplikationer, vilket har ökat min förståelse för modern webbutveckling.</p>
            </section>
            <section id="kmom02">
                <h3>Kmom02</h3>
                <p>I PHP används arv för att en klass ska kunna ärva egenskaper och metoder från en annan klass, medan komposition innebär att en klass använder andra klasser inom sig för att utöka sin funktionalitet. Interfaces säkerställer att klasser implementerar specifika metoder, och traits tillåter återanvändning av kod mellan klasser. I mitt projekt använde jag arv för att strukturera olika korttyper. Genom att arbeta med Symfony och dess MVC-struktur har jag blivit mer bekant med organisering av webbapplikationer dock har det varit svårt att komma in i det hela samt skapa en bekvämlighet i att arbeta på detta sätt. Men är säker på att med tiden kommer jag bli mer varm i kläderna. Min TIL för detta kursmoment var hur effektivt användandet av klasser kan underlätta kodhantering och öka möjligheten till kodåteranvändning.</p>
            </section>
            <section id="kmom03">
                <h3>Kmom03</h3>
                <p>Detaljerad information om Kmom03...</p>
            </section>
            <section id="kmom04">
                <h3>Kmom04</h3>
                <p>Detaljerad information om Kmom04...</p>
            </section>
             <section id="kmom05">
                <h3>Kmom04</h3>
                <p>Detaljerad information om Kmom05...</p>
            </section>
             <section id="kmom06">
                <h3>Kmom04</h3>
                <p>Detaljerad information om Kmom06...</p>
             <section id="kmom10">
                <h3>Kmom10</h3>
                <p>Detaljerad information om Kmom10...</p>
            </section>
            </section>
        </div>
    </div>
</div>
{% endblock %}
